discord.py
discord.py[voice]
asyncpg
TagScriptEngine
aiohttp
asyncio
pyparsing
python-dotenv
typing
typing-extensions
asyncdagpi
requests
humanfriendly
discord-together
numpy
jishaku
psutil
topggpy
wavelink
emojis
alexflipnote.py
