discord.py
discord.py[voice]
asyncpg
TagScriptEngine
aiohttp
asyncio
pyparsing
python-dotenv
typing
typing-extensions
requests
humanfriendly
numpy
jishaku
pillow
psutil
# topggpy
emojis
emoji
colorthief
async-lru
chat-exporter

git+https://github.com/Tom-the-Bomb/Discord-Games.git
